2010 block data scaled by 5yr ACM block group data assuming that the demographic distribution between blocks within a block group does not change.

Get Block from lat/long: https://www.fcc.gov/general/census-block-conversions-api-v100

What variables do we want to track?

https://www.jstor.org/stable/586227?seq=1: https://deepblue.lib.umich.edu/bitstream/handle/2027.42/45484/11109_2004_Article_BF00991978.pdf;sequence=1

https://msaag.aag.org/wp-content/uploads/2013/04/3_Klos.pdf


Variabels:
https://api.census.gov/data/2010/dec/sf1/variables.html

Considerations: 
  * Variables are present for both the decennial and the ACM 5.
  
  
From: https://www.icpsr.umich.edu/icpsrweb/instructors/setups2012/voting.jsp  
  * Race and ethnicity. Minority groups, especially Blacks, are more Democratic in their voting than are Whites.
  * Social class or socio-economic status. Those who are better off in income or socio-economic status are more Republican than are those who are worse off.
  * Religion. Those who are more religious are more Republican than those who are less religious. In the past, White Catholics and Protestants differed considerably in their voting, but that distinction has declined in significance.
  * Region. Voters in the South, Great Plains, and Rocky Mountains regions are more Republican, while those in the Northeast and on the Pacific Coast are more Democratic.
  * Gender. Women are more Democratic than are men.
  * Marital status. Married individuals are more Republican than are single individuals.
  * Age. Younger voters are more Democratic than are older voters.

|SF1|ACS5|Reason|Description|
|-----|-----|-----|-----|
|H001001|B25001_001E|Housing Units: Total|
|H002002|None|Housing Units: Urban|
|H002005|None|Housing Units: Rural|
|H003002|B25002_002E|Occupancy: Occupied|
|H003003|B25002_003E|Occupancy: Vacant|
|H004002|B25003_002E|Owned with mortgage or loan|
|H004003|B25003_002E|Owned outright|
|H004004|B25003_003E|Renter occupied|
|H006002-8|B25006_008E|Race of Householder|
|H007010||Householder identifies as hispanic or latino origin|
|H012002||Average tenure, owner|
|H012003||Average tenure, renter|
|H013002-8||Household size|
|P001001|B01003_001E|Total population|
|P002002||Total urban|
|P002005||total rural|
|P003002-8|B02001_002-8E|Races|
|P004003|B03003_003E|Total Hispanic|
|P012002-49|B01001_02-49E|sex by age|
|P018002-9|B11001_002-9E|Household type|
|P038002|B11003_002E|Husband-wife family|
|P03803|B11003_003E|Husband-wife, own kids under 18|

In [1]:
variables = {
    "H001001": ("", ""),
    "H002002": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
    "": ("", ""),
}

In [2]:
import time

import requests
import numpy as np
import pandas as pd
import geopandas as gpd

# Figure out the API

In [3]:
api_root = "https://api.census.gov/data/2010/dec/sf1?"
variables = ["P001001", "H001001", "NAME"]
for_block = {"block": "*"}
in_block = {"state": "08",
            "county": "013"}
api_key = "b19b387a819c219d7e4f0569c1ef8c5e3b237ace"

def block_substring(block):
    return "%20".join([key+":"+block[key] for key in block])

def compose_request_str(api_root, variables, for_block, in_block, key):
    request = (api_root + 
               "get=" + ",".join(variables) + 
               "&for=" + block_substring(for_block) + 
               "&in=" + block_substring(in_block) + 
               "&key=" + key )
    return request

In [4]:
response = requests.get(
    compose_request_str(api_root, variables, for_block, in_block, api_key)
)
response.status_code

200

In [5]:
df = pd.DataFrame(data=response.json()[1:], columns=response.json()[0])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7368 entries, 0 to 7367
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   P001001  7368 non-null   object
 1   H001001  7368 non-null   object
 2   NAME     7368 non-null   object
 3   state    7368 non-null   object
 4   county   7368 non-null   object
 5   tract    7368 non-null   object
 6   block    7368 non-null   object
dtypes: object(7)
memory usage: 403.1+ KB

# Get State Data

## Get list of counties

In [7]:
precincts = gpd.read_file("../data/processed/precincts/precincts_2018.geojson")

In [8]:
county_fips = sorted(list(set(precincts.COUNTYFP.values)))

In [9]:
def scan_county():
    data = pd.DataFrame()
    for i, county in enumerate(county_fips):
        in_block["county"] = county
        t1 = time.time()
        response = requests.get(
            compose_request_str(api_root, variables, for_block, in_block, api_key)
            )
        t2 = time.time()
        print(f"{i}/{len(county_fips)}: {county}, {response.status_code}, "
              f"{len(response.json())}, dt = {t2-t1:.3F}")
        df = pd.DataFrame(data=response.json()[1:], columns=response.json()[0])
        data = data.append(df)
    return data

## Get All Blocks in CO

In [10]:
for_block = {"block": "*"}
blocks = scan_county()

0/64: 001, 200, 10352, dt = 86.228
1/64: 003, 200, 1126, dt = 2.807
2/64: 005, 200, 9119, dt = 5.108
3/64: 007, 200, 1184, dt = 2.845
4/64: 009, 200, 1189, dt = 10.006
5/64: 011, 200, 1139, dt = 10.955
6/64: 013, 200, 7369, dt = 3.945
7/64: 014, 200, 1420, dt = 2.938
8/64: 015, 200, 1899, dt = 16.081
9/64: 017, 200, 613, dt = 6.936
10/64: 019, 200, 1484, dt = 3.037
11/64: 021, 200, 1151, dt = 2.976
12/64: 023, 200, 2834, dt = 22.985
13/64: 025, 200, 538, dt = 7.008
14/64: 027, 200, 1207, dt = 3.949
15/64: 029, 200, 1990, dt = 3.938
16/64: 031, 200, 11040, dt = 65.938
17/64: 033, 200, 674, dt = 7.999
18/64: 035, 200, 5569, dt = 3.733
19/64: 037, 200, 3687, dt = 24.222
20/64: 039, 200, 1119, dt = 10.950
21/64: 041, 200, 18691, dt = 137.939
22/64: 043, 200, 3286, dt = 3.991
23/64: 045, 200, 4330, dt = 3.860
24/64: 047, 200, 836, dt = 9.001
25/64: 049, 200, 2750, dt = 21.959
26/64: 051, 200, 3629, dt = 3.978
27/64: 053, 200, 510, dt = 2.971
28/64: 055, 200, 2025, dt = 18.048
29/64: 057, 200, 1081, dt = 10.925
30/64: 059, 200, 10140, dt = 6.017
31/64: 061, 200, 674, dt = 7.905
32/64: 063, 200, 1383, dt = 12.875
33/64: 065, 200, 947, dt = 2.943
34/64: 067, 200, 2929, dt = 21.031
35/64: 069, 200, 10977, dt = 77.999
36/64: 071, 200, 2765, dt = 3.941
37/64: 073, 200, 1459, dt = 3.953
38/64: 075, 200, 2524, dt = 21.054
39/64: 077, 200, 5553, dt = 36.821
40/64: 079, 200, 430, dt = 2.931
41/64: 081, 200, 2276, dt = 13.971
42/64: 083, 200, 2650, dt = 3.945
43/64: 085, 200, 3078, dt = 6.005
44/64: 087, 200, 2300, dt = 19.132
45/64: 089, 200, 3171, dt = 2.797
46/64: 091, 200, 741, dt = 2.851
47/64: 093, 200, 2760, dt = 20.011
48/64: 095, 200, 1004, dt = 8.969
49/64: 097, 200, 1165, dt = 6.906
50/64: 099, 200, 2058, dt = 3.961
51/64: 101, 200, 7857, dt = 7.042
52/64: 103, 200, 2268, dt = 18.980
53/64: 105, 200, 1489, dt = 12.961
54/64: 107, 200, 2611, dt = 3.952
55/64: 109, 200, 1672, dt = 2.854
56/64: 111, 200, 286, dt = 5.045
57/64: 113, 200, 1192, dt = 10.859
58/64: 115, 200, 737, dt = 7.122
59/64: 117, 200, 2160, dt = 3.823
60/64: 119, 200, 1836, dt = 3.925
61/64: 121, 200, 1394, dt = 10.176
62/64: 123, 200, 9902, dt = 6.840
63/64: 125, 200, 2897, dt = 19.897

In [11]:
blocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201062 entries, 0 to 2895
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   P001001  201062 non-null  object
 1   H001001  201062 non-null  object
 2   NAME     201062 non-null  object
 3   state    201062 non-null  object
 4   county   201062 non-null  object
 5   tract    201062 non-null  object
 6   block    201062 non-null  object
dtypes: object(7)
memory usage: 12.3+ MB

In [14]:
raw_path = "../data/raw/census_data/"
blocks.to_csv(raw_path + "basic_blocks.csv")

## Get All Block-Groups in CO

In [12]:
for_block = {"block%20group": "*"}
block_groups = scan_county()

0/64: 001, 200, 261, dt = 2.820
1/64: 003, 200, 16, dt = 2.969
2/64: 005, 200, 409, dt = 5.089
3/64: 007, 200, 11, dt = 2.988
4/64: 009, 200, 5, dt = 4.910
5/64: 011, 200, 6, dt = 3.070
6/64: 013, 200, 201, dt = 4.003
7/64: 014, 200, 47, dt = 2.952
8/64: 015, 200, 16, dt = 2.965
9/64: 017, 200, 4, dt = 3.013
10/64: 019, 200, 7, dt = 3.023
11/64: 021, 200, 7, dt = 2.983
12/64: 023, 200, 5, dt = 2.947
13/64: 025, 200, 5, dt = 3.068
14/64: 027, 200, 5, dt = 2.966
15/64: 029, 200, 25, dt = 2.991
16/64: 031, 200, 482, dt = 6.115
17/64: 033, 200, 3, dt = 2.864
18/64: 035, 200, 156, dt = 3.169
19/64: 037, 200, 30, dt = 2.864
20/64: 039, 200, 16, dt = 3.070
21/64: 041, 200, 366, dt = 3.900
22/64: 043, 200, 37, dt = 2.951
23/64: 045, 200, 37, dt = 3.066
24/64: 047, 200, 5, dt = 2.965
25/64: 049, 200, 10, dt = 2.966
26/64: 051, 200, 21, dt = 3.068
27/64: 053, 200, 2, dt = 2.956
28/64: 055, 200, 8, dt = 2.980
29/64: 057, 200, 3, dt = 3.082
30/64: 059, 200, 411, dt = 5.970
31/64: 061, 200, 3, dt = 3.051
32/64: 063, 200, 9, dt = 2.933
33/64: 065, 200, 9, dt = 3.069
34/64: 067, 200, 34, dt = 2.890
35/64: 069, 200, 193, dt = 3.964
36/64: 071, 200, 18, dt = 3.068
37/64: 073, 200, 6, dt = 2.965
38/64: 075, 200, 17, dt = 2.939
39/64: 077, 200, 89, dt = 3.094
40/64: 079, 200, 2, dt = 2.967
41/64: 081, 200, 16, dt = 3.070
42/64: 083, 200, 23, dt = 2.964
43/64: 085, 200, 34, dt = 2.966
44/64: 087, 200, 26, dt = 3.070
45/64: 089, 200, 21, dt = 2.964
46/64: 091, 200, 5, dt = 2.966
47/64: 093, 200, 13, dt = 2.966
48/64: 095, 200, 7, dt = 2.965
49/64: 097, 200, 14, dt = 3.070
50/64: 099, 200, 15, dt = 2.964
51/64: 101, 200, 135, dt = 2.984
52/64: 103, 200, 8, dt = 3.050
53/64: 105, 200, 11, dt = 2.937
54/64: 107, 200, 20, dt = 2.995
55/64: 109, 200, 7, dt = 3.070
56/64: 111, 200, 2, dt = 2.967
57/64: 113, 200, 7, dt = 2.970
58/64: 115, 200, 4, dt = 3.066
59/64: 117, 200, 23, dt = 2.968
60/64: 119, 200, 16, dt = 2.969
61/64: 121, 200, 6, dt = 3.014
62/64: 123, 200, 176, dt = 3.226
63/64: 125, 200, 10, dt = 2.371

In [13]:
block_groups.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3532 entries, 0 to 8
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   P001001      3532 non-null   object
 1   H001001      3532 non-null   object
 2   NAME         3532 non-null   object
 3   state        3532 non-null   object
 4   county       3532 non-null   object
 5   tract        3532 non-null   object
 6   block group  3532 non-null   object
dtypes: object(7)
memory usage: 220.8+ KB

In [15]:
block_groups.to_csv(raw_path + "basic_block_groups.csv")

# Clean Block Data

## Get Block Shapefiles

In [18]:
block_shapes = gpd.read_file("../data/raw/census_shape/tl_2010_08_tabblock10/")

In [85]:
block_shapes.crs

{'init': 'epsg:4269'}

In [19]:
block_shapes.head()

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,MTFCC10,UR10,UACE10,UATYP10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,08,001,008535,1020,080010085351020,Block 1020,G5040,U,23527,U,S,1312,0,+39.9143691,-104.8699465,"POLYGON ((-104.87058 39.91431, -104.87049 39.9..."
1,08,001,008535,1021,080010085351021,Block 1021,G5040,U,23527,U,S,11846,0,+39.9174508,-104.8601251,"POLYGON ((-104.85744 39.92146, -104.85722 39.9..."
2,08,001,008537,1068,080010085371068,Block 1068,G5040,U,23527,U,S,94928,0,+39.9012635,-104.8476875,"POLYGON ((-104.84661 39.90358, -104.84674 39.9..."
3,08,001,008543,3003,080010085433003,Block 3003,G5040,U,23527,U,S,6841,0,+39.9839459,-104.7917056,"POLYGON ((-104.79228 39.98428, -104.79209 39.9..."
4,08,001,060000,1054,080010600001054,Block 1054,G5040,R,None,None,S,42382,0,+39.9729774,-104.9912392,"POLYGON ((-104.99040 39.97199, -104.99244 39.9..."

In [20]:
block_shapes.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 201062 entries, 0 to 201061
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   STATEFP10   201062 non-null  object
 1   COUNTYFP10  201062 non-null  object
 2   TRACTCE10   201062 non-null  object
 3   BLOCKCE10   201062 non-null  object
 4   GEOID10     201062 non-null  object
 5   NAME10      201062 non-null  object
 6   MTFCC10     201062 non-null  object
 7   UR10        201062 non-null  object
 8   UACE10      94167 non-null   object
 9   UATYP10     94167 non-null   object
 10  FUNCSTAT10  201062 non-null  object
 11  ALAND10     201062 non-null  int64
 12  AWATER10    201062 non-null  int64
 13  INTPTLAT10  201062 non-null  object
 14  INTPTLON10  201062 non-null  object
 15  geometry    201062 non-null  geometry
dtypes: geometry(1), int64(2), object(13)
memory usage: 24.5+ MB

In [21]:
blocks.head()

,P001001,H001001,NAME,state,county,tract,block
0,244,71,"Block 1007, Block Group 1, Census Tract 78.01,...",08,001,007801,1007
1,310,110,"Block 1008, Block Group 1, Census Tract 78.01,...",08,001,007801,1008
2,56,18,"Block 1013, Block Group 1, Census Tract 78.01,...",08,001,007801,1013
3,11,4,"Block 1010, Block Group 1, Census Tract 78.01,...",08,001,007801,1010
4,68,47,"Block 1011, Block Group 1, Census Tract 78.01,...",08,001,007801,1011

## Merge Block Data and Shapefiles

In [22]:
def make_GEOID(df):
    return df.state + df.county + df.tract + df.block

blocks["GEOID10"] = blocks.apply(make_GEOID, axis=1)

In [23]:
blocks.head()

,P001001,H001001,NAME,state,county,tract,block,GEOID10
0,244,71,"Block 1007, Block Group 1, Census Tract 78.01,...",08,001,007801,1007,080010078011007
1,310,110,"Block 1008, Block Group 1, Census Tract 78.01,...",08,001,007801,1008,080010078011008
2,56,18,"Block 1013, Block Group 1, Census Tract 78.01,...",08,001,007801,1013,080010078011013
3,11,4,"Block 1010, Block Group 1, Census Tract 78.01,...",08,001,007801,1010,080010078011010
4,68,47,"Block 1011, Block Group 1, Census Tract 78.01,...",08,001,007801,1011,080010078011011

In [24]:
blocks = blocks.set_index("GEOID10")
block_shapes = block_shapes.set_index("GEOID10")

In [25]:
all_blocks = pd.concat([blocks, block_shapes], axis=1)

In [26]:
all_blocks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201062 entries, 080010078011007 to 081259632005151
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   P001001     201062 non-null  object
 1   H001001     201062 non-null  object
 2   NAME        201062 non-null  object
 3   state       201062 non-null  object
 4   county      201062 non-null  object
 5   tract       201062 non-null  object
 6   block       201062 non-null  object
 7   STATEFP10   201062 non-null  object
 8   COUNTYFP10  201062 non-null  object
 9   TRACTCE10   201062 non-null  object
 10  BLOCKCE10   201062 non-null  object
 11  NAME10      201062 non-null  object
 12  MTFCC10     201062 non-null  object
 13  UR10        201062 non-null  object
 14  UACE10      94167 non-null   object
 15  UATYP10     94167 non-null   object
 16  FUNCSTAT10  201062 non-null  object
 17  ALAND10     201062 non-null  int64
 18  AWATER10    201062 non-null  int64
 19  INTPTLAT10  201062 non-null  object
 20  INTPTLON10  201062 non-null  object
 21  geometry    201062 non-null  geometry
dtypes: geometry(1), int64(2), object(19)
memory usage: 35.3+ MB

In [27]:
trimmed_blocks = all_blocks.drop(["STATEFP10", "COUNTYFP10", "TRACTCE10", "BLOCKCE10", 
                                  "NAME10", "MTFCC10", "UR10", "UACE10", 
                                  "UATYP10", "FUNCSTAT10", "ALAND10", 
                                  "AWATER10"],
                                 axis=1)

In [28]:
def extract_bg(df):
    return df.state + df.county + df.tract + df.block[0]
    
trimmed_blocks["blockgroup"] = trimmed_blocks.apply(extract_bg, axis=1)

In [45]:
trimmed_blocks['area'] = trimmed_blocks.geometry.apply(lambda x: x.area)

In [38]:
trimmed_blocks = trimmed_blocks.rename(columns={'P001001': 'population', 'H001001': 'residences', 'NAME': 'name'})

In [39]:
trimmed_blocks[::10000]

,population,residences,name,state,county,tract,block,INTPTLAT10,INTPTLON10,geometry,blockgroup
080010078011007,244,71,"Block 1007, Block Group 1, Census Tract 78.01,...",08,001,007801,1007,+39.7410946,-104.8746404,"POLYGON ((-104.87523 39.74021, -104.87523 39.7...",080010078011
080010601002040,46,14,"Block 2040, Block Group 2, Census Tract 601, A...",08,001,060100,2040,+39.9296836,-105.0114530,"POLYGON ((-105.01091 39.92974, -105.01015 39.9...",080010601002
080050862002010,32,13,"Block 2010, Block Group 2, Census Tract 862, A...",08,005,086200,2010,+39.6152277,-104.7508516,"POLYGON ((-104.75167 39.61533, -104.75124 39.6...",080050862002
080130136021017,2,7,"Block 1017, Block Group 1, Census Tract 136.02...",08,013,013602,1017,+40.2421819,-105.5128035,"POLYGON ((-105.51228 40.24292, -105.51225 40.2...",080130136021
080239727002605,3,2,"Block 2605, Block Group 2, Census Tract 9727, ...",08,023,972700,2605,+37.0357247,-105.5426739,"POLYGON ((-105.54269 37.04064, -105.54257 37.0...",080239727002
080310040031013,52,27,"Block 1013, Block Group 1, Census Tract 40.03,...",08,031,004003,1013,+39.6558139,-104.9204474,"POLYGON ((-104.91922 39.65373, -104.91918 39.6...",080310040031
080350142021045,0,0,"Block 1045, Block Group 1, Census Tract 142.02...",08,035,014202,1045,+39.4405716,-105.0421760,"POLYGON ((-105.04271 39.43778, -105.04275 39.4...",080350142021
080410025022004,0,0,"Block 2004, Block Group 2, Census Tract 25.02,...",08,041,002502,2004,+38.8232486,-104.8472738,"POLYGON ((-104.84694 38.82332, -104.84695 38.8...",080410025022
080410051062002,4,1,"Block 2002, Block Group 2, Census Tract 51.06,...",08,041,005106,2002,+38.9193076,-104.7180262,"POLYGON ((-104.71880 38.91109, -104.71911 38.9...",080410051062
080459518042017,32,12,"Block 2017, Block Group 2, Census Tract 9518.0...",08,045,951804,2017,+39.3882075,-107.2087764,"POLYGON ((-107.20972 39.38819, -107.20944 39.3...",080459518042
080519639002254,0,0,"Block 2254, Block Group 2, Census Tract 9639, ...",08,051,963900,2254,+38.4219798,-107.2246653,"POLYGON ((-107.23351 38.42321, -107.23074 38.4...",080519639002
080590117201008,0,0,"Block 1008, Block Group 1, Census Tract 117.20...",08,059,011720,1008,+39.7244355,-105.1763987,"POLYGON ((-105.17490 39.72502, -105.17489 39.7...",080590117201
080690001002064,47,46,"Block 2064, Block Group 2, Census Tract 1, Lar...",08,069,000100,2064,+40.5848915,-105.0744493,"POLYGON ((-105.07481 40.58421, -105.07479 40.5...",080690001002
080690027003021,26,11,"Block 3021, Block Group 3, Census Tract 27, La...",08,069,002700,3021,+40.3134325,-105.0817672,"POLYGON ((-105.08361 40.31433, -105.08356 40.3...",080690027003
080770014032015,0,0,"Block 2015, Block Group 2, Census Tract 14.03,...",08,077,001403,2015,+39.0754618,-108.5895335,"POLYGON ((-108.58807 39.07018, -108.58886 39.0...",080770014032
080859663001003,20,6,"Block 1003, Block Group 1, Census Tract 9663, ...",08,085,966300,1003,+38.4863300,-107.8833900,"POLYGON ((-107.88349 38.48559, -107.88366 38.4...",080859663001
080930005002126,1,3,"Block 2126, Block Group 2, Census Tract 5, Par...",08,093,000500,2126,+38.9036878,-105.3891883,"POLYGON ((-105.38928 38.90509, -105.38863 38.9...",080930005002
081010029181203,0,0,"Block 1203, Block Group 1, Census Tract 29.18,...",08,101,002918,1203,+38.3668510,-104.7230801,"POLYGON ((-104.72440 38.36847, -104.72331 38.3...",081010029181
081099776002439,0,1,"Block 2439, Block Group 2, Census Tract 9776, ...",08,109,977600,2439,+38.3859798,-106.8151219,"POLYGON ((-106.82801 38.38368, -106.82810 38.3...",081099776002
081230014041016,9,6,"Block 1016, Block Group 1, Census Tract 14.04,...",08,123,001404,1016,+40.3650765,-104.7478538,"POLYGON ((-104.74692 40.36436, -104.74893 40.3...",081230014041
081259632001207,0,1,"Block 1207, Block Group 1, Census Tract 9632, ...",08,125,963200,1207,+40.2973415,-102.7103434,"POLYGON ((-102.69955 40.29233, -102.70870 40.2...",081259632001

# Clean Block-Group Data

In [30]:
block_groups.head()

,P001001,H001001,NAME,state,county,tract,block group
0,1355,543,"Block Group 1, Census Tract 78.01, Adams Count...",08,001,007801,1
1,2377,829,"Block Group 2, Census Tract 78.01, Adams Count...",08,001,007801,2
2,1275,548,"Block Group 1, Census Tract 78.02, Adams Count...",08,001,007802,1
3,1133,490,"Block Group 2, Census Tract 78.02, Adams Count...",08,001,007802,2
4,1350,478,"Block Group 3, Census Tract 78.02, Adams Count...",08,001,007802,3

In [31]:
def block_group_id(df):
    return df.tract + df["block group"]

block_groups["blockgroup"] = block_groups.apply(block_group_id, axis=1)

def block_group_geoid(df):
    return df.state + df.county + df.tract + df["block group"]

block_groups["geoid"] = block_groups.apply(block_group_geoid, axis=1)
block_groups = block_groups.set_index("geoid")

In [33]:
block_list = []
for idx, bg in block_groups.iterrows():
    block_list.append(trimmed_blocks[trimmed_blocks.blockgroup == idx].index.values)

In [40]:
bg_area = []
bg_pop = []
bg_res = []
for blocks in block_list:
    bg_area.append(sum([trimmed_blocks.loc[block].geometry.area for block in blocks]))
    bg_pop.append(sum([int(trimmed_blocks.loc[block].population) for block in blocks]))
    bg_res.append(sum([int(trimmed_blocks.loc[block].residences) for block in blocks]))

In [41]:
block_groups["blocks"] = block_list
block_groups["area"] = bg_area
block_groups["population"] = bg_pop
block_groups["residences"] = bg_res

In [42]:
block_groups.head()

,P001001,H001001,NAME,state,county,tract,block group,blockgroup,blocks,area,population,residences
geoid,,,,,,,,,,,,
080010078011,1355,543,"Block Group 1, Census Tract 78.01, Adams Count...",08,001,007801,1,0078011,"[080010078011007, 080010078011008, 08001007801...",0.000034,1355,543
080010078012,2377,829,"Block Group 2, Census Tract 78.01, Adams Count...",08,001,007801,2,0078012,"[080010078012010, 080010078012007, 08001007801...",0.000034,2377,829
080010078021,1275,548,"Block Group 1, Census Tract 78.02, Adams Count...",08,001,007802,1,0078021,"[080010078021001, 080010078021002, 08001007802...",0.000034,1275,548
080010078022,1133,490,"Block Group 2, Census Tract 78.02, Adams Count...",08,001,007802,2,0078022,"[080010078022000, 080010078022001, 08001007802...",0.000017,1133,490
080010078023,1350,478,"Block Group 3, Census Tract 78.02, Adams Count...",08,001,007802,3,0078023,"[080010078023003, 080010078023004, 08001007802...",0.000017,1350,478

## What fraction of its block group is each block?

In [82]:
def assign_block_portion(block, bg, var):
    try:
        res = float(block[var])/float(bg.loc[block.blockgroup][var])
    except ZeroDivisionError:
        res = 0
    return res

for var in ['area', 'population', 'residences']:
    trimmed_blocks[var + '_prop'] = trimmed_blocks.apply(
        lambda x: assign_block_portion(x, block_groups, var), axis=1
    )

In [83]:
trimmed_blocks.head()

,population,residences,name,state,county,tract,block,INTPTLAT10,INTPTLON10,geometry,blockgroup,area,area_prop,population_prop,residences_prop
080010078011007,244,71,"Block 1007, Block Group 1, Census Tract 78.01,...",08,001,007801,1007,+39.7410946,-104.8746404,"POLYGON ((-104.87523 39.74021, -104.87523 39.7...",080010078011,0.000002,0.060947,0.180074,0.130755
080010078011008,310,110,"Block 1008, Block Group 1, Census Tract 78.01,...",08,001,007801,1008,+39.7410876,-104.8734686,"POLYGON ((-104.87407 39.74021, -104.87404 39.7...",080010078011,0.000002,0.061142,0.228782,0.202578
080010078011013,56,18,"Block 1013, Block Group 1, Census Tract 78.01,...",08,001,007801,1013,+39.7410877,-104.8675985,"POLYGON ((-104.86701 39.74197, -104.86701 39.7...",080010078011,0.000002,0.061274,0.041328,0.033149
080010078011010,11,4,"Block 1010, Block Group 1, Census Tract 78.01,...",08,001,007801,1010,+39.7410904,-104.8711363,"POLYGON ((-104.87173 39.74021, -104.87174 39.7...",080010078011,0.000002,0.062724,0.008118,0.007366
080010078011011,68,47,"Block 1011, Block Group 1, Census Tract 78.01,...",08,001,007801,1011,+39.7410900,-104.8699492,"POLYGON ((-104.86936 39.74021, -104.87054 39.7...",080010078011,0.000002,0.061446,0.050185,0.086556

# Which Precinct is each Block in?

In [332]:
blocks_gpd = gpd.GeoDataFrame(trimmed_blocks, crs=block_shapes.crs)

In [333]:
precincts_2016 = gpd.read_file("../data/processed/precincts/precincts_2016.geojson")
precincts_2018 = gpd.read_file("../data/processed/precincts/precincts_2018.geojson")

In [334]:
def find_overlaps_precinct_block(precincts, blocks, counties):

    precinct_assignment = []

    for county in counties:
        dt1 = time.time()
        precincts_to_match = precincts[precincts.COUNTYFP == county]
        blocks_to_match = blocks[blocks.county == county]
        assignment = []
        for bname, block in blocks_to_match.iterrows():
            block_assign = [bname]
            for pname, prec in precincts_to_match.iterrows():
                if prec.geometry.intersects(block.geometry):
                    block_assign.append(prec.VTDST5)

            assignment.append(block_assign)

        precinct_assignment.append(assignment)
        dt2 = time.time()
        print(f"county: {county}, precincts: {len(precincts_to_match)}, "
              f"blocks: {len(blocks_to_match)}, time: {dt2-dt1:.2F}")
        
    return precinct_assignment

bp_overlaps_2016 = find_overlaps_precinct_block(precincts_2016, blocks_gpd, county_fips)
bp_overlaps_2018 = find_overlaps_precinct_block(precincts_2018, blocks_gpd, county_fips)

county: 001, precincts: 249, blocks: 10351, time: 283.43
county: 003, precincts: 8, blocks: 1125, time: 1.95
county: 005, precincts: 395, blocks: 9118, time: 392.55
county: 007, precincts: 8, blocks: 1183, time: 2.03
county: 009, precincts: 9, blocks: 1188, time: 1.70
county: 011, precincts: 5, blocks: 1138, time: 1.39
county: 013, precincts: 233, blocks: 7368, time: 188.21
county: 014, precincts: 37, blocks: 1419, time: 6.24
county: 015, precincts: 15, blocks: 1898, time: 4.32
county: 017, precincts: 5, blocks: 612, time: 0.60
county: 019, precincts: 9, blocks: 1483, time: 2.55
county: 021, precincts: 10, blocks: 1150, time: 2.05
county: 023, precincts: 8, blocks: 2833, time: 4.53
county: 025, precincts: 6, blocks: 537, time: 0.65
county: 027, precincts: 3, blocks: 1206, time: 1.11
county: 029, precincts: 20, blocks: 1989, time: 5.68
county: 031, precincts: 346, blocks: 11039, time: 419.54
county: 033, precincts: 4, blocks: 673, time: 0.77
county: 035, precincts: 155, blocks: 5568, time: 95.98
county: 037, precincts: 30, blocks: 3686, time: 15.30
county: 039, precincts: 15, blocks: 1118, time: 2.41
county: 041, precincts: 242, blocks: 18690, time: 496.78
county: 043, precincts: 30, blocks: 3285, time: 13.87
county: 045, precincts: 27, blocks: 4329, time: 18.55
county: 047, precincts: 6, blocks: 835, time: 0.96
county: 049, precincts: 12, blocks: 2749, time: 6.51
county: 051, precincts: 15, blocks: 3628, time: 8.81
county: 053, precincts: 1, blocks: 509, time: 0.32
county: 055, precincts: 11, blocks: 2024, time: 3.74
county: 057, precincts: 5, blocks: 1080, time: 2.08
county: 059, precincts: 258, blocks: 10139, time: 291.20
county: 061, precincts: 4, blocks: 673, time: 0.71
county: 063, precincts: 13, blocks: 1382, time: 2.61
county: 065, precincts: 6, blocks: 946, time: 1.34
county: 067, precincts: 32, blocks: 2928, time: 12.85
county: 069, precincts: 171, blocks: 10976, time: 209.70
county: 071, precincts: 15, blocks: 2764, time: 9.65
county: 073, precincts: 13, blocks: 1458, time: 2.96
county: 075, precincts: 16, blocks: 2523, time: 5.89
county: 077, precincts: 57, blocks: 5552, time: 37.31
county: 079, precincts: 1, blocks: 429, time: 0.20
county: 081, precincts: 13, blocks: 2275, time: 6.04
county: 083, precincts: 11, blocks: 2649, time: 6.57
county: 085, precincts: 28, blocks: 3077, time: 12.34
county: 087, precincts: 17, blocks: 2299, time: 5.19
county: 089, precincts: 17, blocks: 3170, time: 7.82
county: 091, precincts: 5, blocks: 740, time: 0.95
county: 093, precincts: 13, blocks: 2759, time: 6.44
county: 095, precincts: 8, blocks: 1003, time: 1.26
county: 097, precincts: 10, blocks: 1164, time: 2.29
county: 099, precincts: 13, blocks: 2057, time: 3.92
county: 101, precincts: 128, blocks: 7856, time: 114.86
county: 103, precincts: 5, blocks: 2267, time: 2.69
county: 105, precincts: 15, blocks: 1488, time: 3.72
county: 107, precincts: 18, blocks: 2610, time: 6.90
county: 109, precincts: 7, blocks: 1671, time: 2.37
county: 111, precincts: 1, blocks: 285, time: 0.19
county: 113, precincts: 6, blocks: 1191, time: 1.37
county: 115, precincts: 5, blocks: 736, time: 0.72
county: 117, precincts: 20, blocks: 2159, time: 6.21
county: 119, precincts: 13, blocks: 1835, time: 4.15
county: 121, precincts: 6, blocks: 1393, time: 1.47
county: 123, precincts: 131, blocks: 9901, time: 144.83
county: 125, precincts: 14, blocks: 2896, time: 5.48
county: 001, precincts: 255, blocks: 10351, time: 288.42
county: 003, precincts: 8, blocks: 1125, time: 1.84
county: 005, precincts: 399, blocks: 9118, time: 398.38
county: 007, precincts: 8, blocks: 1183, time: 1.90
county: 009, precincts: 9, blocks: 1188, time: 1.67
county: 011, precincts: 5, blocks: 1138, time: 1.31
county: 013, precincts: 235, blocks: 7368, time: 191.09
county: 014, precincts: 37, blocks: 1419, time: 6.16
county: 015, precincts: 9, blocks: 1898, time: 2.98
county: 017, precincts: 5, blocks: 612, time: 0.58
county: 019, precincts: 9, blocks: 1483, time: 2.41
county: 021, precincts: 10, blocks: 1150, time: 1.94
county: 023, precincts: 8, blocks: 2833, time: 4.34
county: 025, precincts: 6, blocks: 537, time: 0.60
county: 027, precincts: 3, blocks: 1206, time: 1.07
county: 029, precincts: 20, blocks: 1989, time: 5.59
county: 031, precincts: 356, blocks: 11039, time: 429.54
county: 033, precincts: 4, blocks: 673, time: 0.71
county: 035, precincts: 168, blocks: 5568, time: 104.19
county: 037, precincts: 30, blocks: 3686, time: 14.99
county: 039, precincts: 14, blocks: 1118, time: 2.16
county: 041, precincts: 282, blocks: 18690, time: 577.15
county: 043, precincts: 30, blocks: 3285, time: 13.57
county: 045, precincts: 27, blocks: 4329, time: 16.32
county: 047, precincts: 6, blocks: 835, time: 0.92
county: 049, precincts: 12, blocks: 2749, time: 6.22
county: 051, precincts: 15, blocks: 3628, time: 8.63
county: 053, precincts: 1, blocks: 509, time: 0.32
county: 055, precincts: 11, blocks: 2024, time: 3.63
county: 057, precincts: 5, blocks: 1080, time: 1.92
county: 059, precincts: 258, blocks: 10139, time: 286.36
county: 061, precincts: 4, blocks: 673, time: 0.70
county: 063, precincts: 13, blocks: 1382, time: 2.47
county: 065, precincts: 6, blocks: 946, time: 1.18
county: 067, precincts: 32, blocks: 2928, time: 12.32
county: 069, precincts: 203, blocks: 10976, time: 247.86
county: 071, precincts: 16, blocks: 2764, time: 9.59
county: 073, precincts: 13, blocks: 1458, time: 2.85
county: 075, precincts: 16, blocks: 2523, time: 5.83
county: 077, precincts: 57, blocks: 5552, time: 46.19
county: 079, precincts: 1, blocks: 429, time: 0.21
county: 081, precincts: 13, blocks: 2275, time: 5.99
county: 083, precincts: 11, blocks: 2649, time: 6.55
county: 085, precincts: 28, blocks: 3077, time: 12.93
county: 087, precincts: 17, blocks: 2299, time: 5.39
county: 089, precincts: 17, blocks: 3170, time: 8.22
county: 091, precincts: 5, blocks: 740, time: 1.06
county: 093, precincts: 13, blocks: 2759, time: 6.71
county: 095, precincts: 8, blocks: 1003, time: 1.30
county: 097, precincts: 10, blocks: 1164, time: 2.27
county: 099, precincts: 13, blocks: 2057, time: 4.06
county: 101, precincts: 128, blocks: 7856, time: 124.74
county: 103, precincts: 5, blocks: 2267, time: 2.72
county: 105, precincts: 15, blocks: 1488, time: 3.74
county: 107, precincts: 18, blocks: 2610, time: 6.74
county: 109, precincts: 7, blocks: 1671, time: 2.31
county: 111, precincts: 1, blocks: 285, time: 0.18
county: 113, precincts: 6, blocks: 1191, time: 1.33
county: 115, precincts: 5, blocks: 736, time: 0.72
county: 117, precincts: 20, blocks: 2159, time: 6.09
county: 119, precincts: 13, blocks: 1835, time: 3.95
county: 121, precincts: 6, blocks: 1393, time: 1.43
county: 123, precincts: 156, blocks: 9901, time: 188.79
county: 125, precincts: 14, blocks: 2896, time: 5.81

In [335]:
def parse_precinct_overlaps_to_df(precinct_assignment):
    block_num = []
    assn = []
    for county in precinct_assignment:
        for block in county:
            block_num.append(block[0])
            assn.append(block[1:])
            
    block_assign = pd.DataFrame(data=np.zeros((len(assn), 2)), columns=['overlaps', 'idx'])
    block_assign.overlaps = assn
    block_assign.idx = block_num
    block_assign = block_assign.set_index('idx')
    return block_assign

In [336]:
block_overlaps_2016 = parse_precinct_overlaps_to_df(bp_overlaps_2016)
block_overlaps_2018 = parse_precinct_overlaps_to_df(bp_overlaps_2018)

In [337]:
block_overlaps_2016.head()

                       overlaps
idx
080010078011007         [01229]
080010078011008         [01229]
080010078011013         [01230]
080010078011010         [01229]
080010078011011  [01229, 01230]

In [382]:
def parse_matches(idx, matches, precinct_targets, length, trunc_thresh=0.01):
    default = [None, 0]
    if len(matches.overlaps) == 1:
        return [matches[0][0], 1.0] + (length-1)*default
    else:
        block_geom = trimmed_blocks.loc[idx].geometry
        #precincts = []
        #for i, match in enumerate(matches.overlaps):
        #    try:
        #        precincts.append(precinct_targets.loc[match].geometry)
        #    except:
        #        print(i, match)
        
        
        precincts = [precinct_targets.loc[match].geometry
                   for match in matches.overlaps]
        overlap = [block_geom.intersection(g)
                   for g in precincts]
        area = trimmed_blocks.loc[idx].geometry.area
        frac_overlap = np.array([over.area/area for over in overlap])
        sorter = np.argsort(frac_overlap).astype(int)
        ranked_match = np.flip(np.array(matches.overlaps)[sorter])
        ranked_frac = np.flip(frac_overlap[sorter])
        ranked_match = ranked_match[ranked_frac>trunc_thresh]
        ranked_frac = ranked_frac[ranked_frac>trunc_thresh]
        ranked_match = ranked_match[:length]
        ranked_frac = ranked_frac[:length]
        ranked_frac = ranked_frac/np.sum(ranked_frac)        
        ranked = [i for pair in zip(ranked_match, ranked_frac) for i in pair]
        
        ranked = ranked + default*(length-int(len(ranked)/2))
        return ranked

def parse_overlaps_to_assignments(precinct_df, overlap_df, num_matches=5):    
    precinct_targets = precinct_df.set_index("VTDST5")
    parsed_matches = []
    num_matches = 5
    for idx, matches in overlap_df.iterrows():
        parsed_matches.append(parse_matches(idx, matches, precinct_targets, num_matches))
    return parsed_matches

def parse_precinct_assingments_to_df(assignments, overlap_df, num_matches=5):
    columns = [["match"+str(i), "frac"+str(i)] for i in range(num_matches)]
    columns = [i for j in columns for i in j]
    new_assign = pd.DataFrame(index=overlap_df.index, data=assignments,
                          columns=columns)
    block_assignments = pd.concat([overlap_df, new_assign], axis=1)
    return block_assignments

In [383]:
block_assignments_2016 = parse_precinct_assingments_to_df(
            parse_overlaps_to_assignments(precincts_2016, block_overlaps_2016),
            block_overlaps_2016)

In [384]:
block_assignments_2018 = parse_precinct_assingments_to_df(
            parse_overlaps_to_assignments(precincts_2018, block_overlaps_2018),
            block_overlaps_2018)

In [388]:
block_assignments_all_2016 = gpd.GeoDataFrame(pd.concat([trimmed_blocks, block_assignments_2016], axis=1))
block_assignments_all_2018 = gpd.GeoDataFrame(pd.concat([trimmed_blocks, block_assignments_2018], axis=1))

In [396]:
assignments_to_save_2016 = block_assignments_all_2016.drop(['overlaps'], axis=1)
assignments_to_save_2018 = block_assignments_all_2018.drop(['overlaps'], axis=1)

assignments_to_save_2016.to_file("../data/processed/blocks/block_assignments_2016.geojson", driver='GeoJSON')
assignments_to_save_2018.to_file("../data/processed/blocks/block_assignments_2018.geojson", driver='GeoJSON')